.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
*.sw?
*.swo
*.swn
*.swp

target/
build/
out/
*.jar
*.war
*.ear

**/lib/
**/libs/

*.log
logs/

node_modules/

.DS_Store

Thumbs.db

.env
*.env
.env.local
.env.development
.env.test
.env.production

**/application*.properties
**/application*.yml
!**/application-sample.properties
!**/application-sample.yml

*.ibd
*.frm
*.myi
*.myd

**/db/migration/

**/test-output/
**/test-results/

.metadata/

.vscode/

**/mvnw
**/mvnw.cmd
**/.mvn/
**/maven-*.xml

.gradle/
**/gradle/
**/gradlew
**/gradlew.bat

*.orig
*.bak